body {
    margin: 10px;
    text-align: center;
    font-family: 'Merriweather', serif;
    line-height: 2;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: lighter;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none none dotted none;
  border-width: 5px;
  color: #D3DEDC;
  width: 4%
}

a {
  margin-top: 100px;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 0 20px 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

u {
  font-weight: lighter;
  text-decoration: none;
  border-bottom: 2px solid;
}

.top-container {
  margin: 0;
  background-color: #E4F9F5;
  position: relative;
  bottom: 70px;
}

.top-cloud {
  position: relative;
  left: 18.75rem;
  top: 3.75rem;
  height: 15%;
  width: 15%;
}

.middle-container {
  position: relative;
  top: 50px;
  color: #180A0A;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-container {
  position: relative;
  top: 60px;
  background-color: #66BFBF;
  color: #180A0A;
  padding-top: 10px;
  margin-top: 40px;
}

.bottom-cloud {
  position: relative;
  right: 3.750rem;
  bottom: 16.75rem;
  height: 15%;
  width: 15%;

}

.mountain {
  position: relative;
  top: 60px;
  right: 30px;
  height: auto;
  width: 70%;
}

.DP {
  height: 200px;
  width: 200px;
}

.skills {
  position: relative;
  bottom: 40px;
}

.my-skill {
  position: relative;
  top: 35px;
  font-size: 30px;
  color: #4FBDBA;
}

.skill-first {
  width: 45%;
  height: auto;
  position: relative;
  bottom: 20px;
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}

.skill-second {
  width: 30%;
  height: auto;
  float: right;
  margin-left: 10px;
  position : relative;
  top : 20px;
}

.skill-row {
  width : 50%;
  margin : 100px auto 100px auto;
  text-align : left;
}

.skill-des {
  line-height : 1.5;
  font-size: 1;
}

.skill-head {
  color: #11999E;
}

.contact-msg {
  width: 40%;
  margin: 0 auto 20px;

}

.credit {
  color: #EAF6F6;
  font-size: 12px;
  padding: 10px 0 30px;
}

.btn {
  background : #11cdd4;
  background-image : -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image : -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image : -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image : -o-linear-gradient(top, #11cdd4, #11999e);
  background-image : linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius : 8;
  -moz-border-radius : 8;
  border-radius : 8px;
  font-family : 'Montserrat', sans-serif;;
  color : #ffffff;
  font-size : 20px;
  padding : 10px 20px 10px 20px;
  text-decoration : none;
}

.btn:hover {
  background : #30e3cb;
  background-image : -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image : -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image : -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image : -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration : none;
}
